@import url("/bounce.css");

#appleCat {
  width: max(4vw, 4vh);
  height: max(4vw, 4vh);
  animation: bounce 2200s infinite linear;
  position: fixed;
  scale: 1;
  z-index: 50;
}

#appleCat:hover {
  animation-play-state: paused;
}


@media (prefers-reduced-motion: reduce) {
  #appleCat {
    animation: none !important;
  }
}