img {
  position: relative;
  transition: scale 0.5s cubic-bezier(0.66, 0, 0.34, 1), border-radius 0.5s cubic-bezier(0.66, 0, 0.34, 1),
    z-index 0.5s cubic-bezier(0.66, 0, 0.34, 1);
  z-index: 1;
}

img:hover {
  z-index: 10;
}

.zoom:hover,
.zoom:active {
  @media screen and (min-width: 1024px) {
    scale: 3;
    border-radius: 0 !important;
  }
}

.bigZoom:hover,
.bigZoom:active {
  @media screen and (min-width: 1024px) {
    scale: 8;
    border-radius: 0 !important;
  }
}

.midBigZoom:hover,
.midBigZoom:active {
  @media screen and (min-width: 1024px) {
    scale: 40;
    border-radius: 0 !important;
  }
}

.biggerZoom:hover,
.biggerZoom:active {
  @media screen and (min-width: 1024px) {
    scale: 50;
    border-radius: 0 !important;
  }
}

.startLeft {
  transform-origin: left;
}

.startRight {
  transform-origin: right;
}