#logo {
  width: 32px;
  height: auto;
}

#logo:hover,
#logo:active {
  @media screen and (min-width: 1024px) {
    scale: 4;
  }
}

.project {
  border-radius: 2rem;
  border: 5px dashed var(--primary-color);

  display: flex;

  flex-direction: row;

  height: 30vh;
  width: 40vw;

  @media screen and (max-width: 1600px) {
    width: 80vw;
  }

  @media screen and (max-width: 1024px) {
    height: unset;
    width: 90vw;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  margin: 1rem;
}

.project img {
  border-radius: 1.85rem 0 0 1.85rem;
  height: 100%;

  @media screen and (max-width: 1024px) {
    border-radius: 1.85rem 1.85rem 0 0;
    width: 100%;
    height: unset;
  }
}

.project > * {
  width: 100%;
}

.projectDescription {
  padding: 1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#hoverTip {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
