#logo {
  width: 3rem;
  height: auto;
}

#textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1024px) {
    align-items: flex-start;
  }
}

#textContainer>* {
  margin-top: 0.75rem;
}

#clickMe,
#hoverTip {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

#desktopTip {
  display: none;

  @media screen and (max-width: 1024px) {
    display: block;
  }
}


/* intro styles */

#intro {
  width: 80vw;

  display: grid;
  column-gap: 1rem;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-rows: auto auto;

  grid-template-areas:
    "name  name  pr club"
    "status status greyback school";

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;

    grid-template-areas:
      "name"
      "status"
      "pr"
      "club"
      "greyback"
      "school";
  }
}

#name {
  grid-area: name;
}

#status {
  grid-area: status;
}

#pr-role {
  grid-area: pr;
}

#club-role {
  grid-area: club;
}

#greyback-role {
  grid-area: greyback;
}

#school-year {
  grid-area: school;
}


/* projects slideshow */

.slideshow {
  border-radius: 2rem;
  border: 5px dashed var(--primary-color);


  margin: auto;

  width: min(90vw, 1200px);
  height: 50vh;

  @media screen and (max-width: 1024px) {
    width: 80vw;
    height: 70vh;
  }
}


.project {
  display: grid;

  gap: 1vw;

  height: 100%;

  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  .image {
    grid-area: image;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .description {
    margin: 1rem;
    grid-area: description;
  }

  grid-template-areas: "image image image image image description description";

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;

    grid-template-areas:
      "image"
      "image"
      "image"
      "description"
      "description";
  }
}

.projectsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsList>ul {
  margin-top: 2rem;
  width: 90%;
}


/* 4 corners images */

.square4image {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);


  height: 100%;
}

.square4image a,
.square4image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.fourcolumnimage {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);

  height: 100%;
}

.fourcolumnimage a,
.fourcolumnimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bigcolumnsmallrowsimage {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);

  grid-template-areas:
    "big smalltop"
    "big smallbottom";

  height: 100%;
}

.bigcolumnsmallrowsimage a,
.bigcolumnsmallrowsimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bigcolumnsmallrowsimage .big {
  grid-area: big;
}